.sliderbar_ee {
    position: fixed;
    right: 0;
    bottom: 250px;
    width: 15px;
    height: 355px;
    /* 文字居中 */
    text-align: center;
    line-height: 400px;
    cursor: pointer;
    background-color:rgba(196, 162, 26, 0.2);
}

.con_ee {
    position: absolute;
    left: 20px;
    top: 0;
    width: 200px;
    z-index: 1;
}